# EDSA Apple Prices Challenge
### by team_32 on May 2, 2021
###### Dimakatso Mongwegelwa
###### Dineo  Mahlangu
###### Phuti Marukho
###### Letlhogonolo Menwe
###### Siphamandla Mandindi

# Challenge Description
Team_32 is required to predict the price of golden delicus apples per kilogram in the fresh produce industry, the prices may depend on seasons. 

This solution is meant to help the farming industry economically, such that the users of the system are able to accurately determine how much stock they need to have on hand and what price to set the golden delicius apples.

## Notebook Outline
 1. Package Installation
 2. Importing Libraries
 3. Loading the Data
 4. Data Cleaning and Formating
 5. Exploratory Data Analysis
 6. Feature Engineering and Selection
 7. Linear regression & Parameter Tuning
 8. Model Evaluation
 9. Submission

# 1. Package Installation

In [ ]:
pip install -U flask numpy pandas scikit-learn

# 2. Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
#import math from scipy
#import stats from scipy.stats

# 3. Loading the Dataset

In [6]:
df1 = pd.read_csv('sample_submission.csv')
df2 = pd.read_csv('df-test_set.csv')
df3 = pd.read_csv('df-train_set.csv')

In [4]:
df1.head()

   Index  avg_price_per_kg
0      1             13.94
1      2              1.30

In [5]:
df2.head()

,Index,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand
0,1,W.CAPE-BERGRIVER ETC,EC120,1M,12.0,APPLE GOLDEN DELICIOUS,2020-07-09,128.0,136.0,5008.0,38,456.0,0
1,2,W.CAPE-BERGRIVER ETC,M4183,1X,18.3,APPLE GOLDEN DELICIOUS,2020-01-20,220.0,220.0,1760.0,8,146.4,2
2,3,W.CAPE-BERGRIVER ETC,EC120,1S,12.0,APPLE GOLDEN DELICIOUS,2020-08-19,120.0,120.0,720.0,6,72.0,45
3,4,W.CAPE-BERGRIVER ETC,M4183,1M,18.3,APPLE GOLDEN DELICIOUS,2020-05-06,160.0,160.0,160.0,1,18.3,8
4,5,W.CAPE-BERGRIVER ETC,M4183,1L,18.3,APPLE GOLDEN DELICIOUS,2020-05-04,140.0,160.0,14140.0,100,1830.0,19

In [13]:
df3.head()

,Province,Container,Size_Grade,Weight_Kg,Commodities,Date,Low_Price,High_Price,Sales_Total,Total_Qty_Sold,Total_Kg_Sold,Stock_On_Hand,avg_price_per_kg
0,CAPE,EC120,1L,12.0,APPLE GRANNY SMITH,2020-03-10,108.0,112.0,3236.0,29,348.0,0,9.30
1,CAPE,M4183,1L,18.3,APPLE GOLDEN DELICIOUS,2020-09-09,150.0,170.0,51710.0,332,6075.6,822,8.51
2,GAUTENG,AT200,1L,20.0,AVOCADO PINKERTON,2020-05-05,70.0,80.0,4860.0,66,1320.0,50,3.68
3,TRANSVAAL,BJ090,1L,9.0,TOMATOES-LONG LIFE,2020-01-20,60.0,60.0,600.0,10,90.0,0,6.67
4,WESTERN FREESTATE,PP100,1R,10.0,POTATO SIFRA (WASHED),2020-07-14,40.0,45.0,41530.0,927,9270.0,393,4.48

# 4. Data Cleaning and Formating

#### 4.1 Dealing with Missing Values

In [ ]:
# check for cell that are empty - Use encoding methods

#### 4.2 Dealing with special values

In [ ]:
# checking your NaN - use encoding methods

#### 4.3 Dealing with outliers

In [ ]:
# use Histogram or Boxplot to see outliers and then remove

#### 4.4 Dealing with Inconsistancies

In [ ]:
# inconsistancies = eg male, female , dog

#### 4.5 Dealing with Duplicates

# 5. Exploratory Data Analysis

#### 5.1 Univaraite Data analysis

#### 5.2 Multivariate Data analysis

In [ ]:
# check correlation with sales(research this). The ones(variables) with a high correlation we should select in below step.

# 6. Feature Engineering and Selection

In [ ]:
# here, we will create new variable that will help in the prediction (if necessary) eg BMI
# also select variables that contribute to the response variable

# 7. Linear regression & Parameter Tuning

In [ ]:
# Train-test split

In [ ]:
# Normalize the feature(this puts the data(variables) in the same space)

In [ ]:
# Define the linear regression algorithm

In [ ]:
# Predictions

In [ ]:
# Parameter tuning

In [ ]:
# Predictions

# 8. Model Evaluation

In [ ]:
# This is where we check perfomance matrices(measures)

# 9. Submission